{% extends 'base.html.twig' %}

{% block title %}
    {{ page.data.title }}
{% endblock %}

{% block body %}
<!--Header-->
    <header>
        <div class="container">
            <div id="search">
                <svg class="icon-search" viewBox="0 0 483.083 483.083">
                    <g>
                        <g>
                            <path d="M332.74,315.35c30.883-33.433,50.15-78.2,50.15-127.5C382.89,84.433,298.74,0,195.04,0S7.19,84.433,7.19,187.85
                                S91.34,375.7,195.04,375.7c42.217,0,81.033-13.883,112.483-37.4l139.683,139.683c3.4,3.4,7.65,5.1,11.9,5.1s8.783-1.7,11.9-5.1
                                c6.517-6.517,6.517-17.283,0-24.083L332.74,315.35z M41.19,187.85C41.19,103.133,110.04,34,195.04,34
                                c84.717,0,153.85,68.85,153.85,153.85S280.04,341.7,195.04,341.7S41.19,272.567,41.19,187.85z">
                        </g>
                    </g>
                </svg>
                <input type="search" placeholder="Поиск блюд" id="search-input">
            </div>
            <a href='/delivery'><img class="delivery24" src="/img/delivery24.jpg"></a>
            <ul id="head-nav">
                {% for me in page.menu['main'] %}
                    {% for m in me['parent'] %}
                        <li>
                            <a href="#{{m.item.alias}}">{{m.item.name}}</a> 
                        </li> 
                    {% endfor %}   
                {% endfor %}            
            </ul>
            <a href="/">                
                <svg version="1.1" class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 740.089 213.095" enable-background="new 0 0 740.089 213.095"
xml:space="preserve">
<path fill="#A5204C" d="M241.589,122.21c-5.393,0-10.239-0.263-14.514-0.811c-4.297-0.526-8.419-1.579-12.388-3.157
c-3.968-1.579-7.805-3.881-11.51-6.95c-3.618-2.982-6.687-6.402-9.209-10.283c-2.521-3.859-4.385-8.024-5.635-12.453
c-1.249-4.429-1.863-9.055-1.863-13.835c0-8.66,1.886-16.071,5.679-22.232c3.771-6.161,9.011-10.787,15.698-13.878
c6.709-3.091,14.317-4.648,22.824-4.648l16.071,1.447c1.754,0.351,3.113,0.504,4.078,0.504c2.368,0,4.297-1.008,5.766-3.004
l4.604,24.315l-1.316,0.263c-2.543-5.394-6.292-9.516-11.269-12.388c-4.999-2.872-10.568-4.297-16.751-4.297
c-6.271,0-11.62,1.337-16.093,4.013c-4.473,2.675-7.827,6.424-10.107,11.225c-2.258,4.802-3.398,10.348-3.398,16.597
c0,5.503,0.877,10.853,2.609,16.049c1.732,5.196,4.253,9.888,7.586,14.054c3.333,4.165,7.345,7.454,12.037,9.844
c4.714,2.39,9.932,3.596,15.676,3.596c4.275,0,7.433-0.548,9.472-1.644c2.061-1.096,3.354-2.675,3.902-4.736
c0.548-2.061,0.811-5.043,0.811-8.901V80.114c0-4.758-0.46-8.463-1.403-11.138s-3.245-4.319-6.885-4.889v-1.184h29.467v1.184
c-3.025,0.592-4.889,1.622-5.613,3.091s-1.096,3.946-1.096,7.41v34.992c0,3.705,0.372,6.402,1.096,8.047
c0.723,1.666,2.587,2.828,5.613,3.53v1.053H241.589L241.589,122.21z M301.861,104.582c-1.403,3.946-2.083,7.06-2.083,9.34
c0,2.017,0.702,3.661,2.105,4.955c1.425,1.294,3.113,2.017,5.108,2.149v1.184h-26.836v-1.184c1.71-0.351,3.048-0.811,4.012-1.359
c0.965-0.57,1.908-1.535,2.828-2.85c1.82-2.587,3.793-6.665,5.941-12.234l21.158-55.93c1.294-3.464,1.951-6.007,1.951-7.608
c0-2.324-1.359-3.727-4.078-4.209v-1.184h29.226v1.184c-2.543,0.679-3.815,2.258-3.815,4.736c0,1.315,0.395,3.026,1.184,5.13
l22.473,64.722c0.066,0.132,0.439,1.009,1.096,2.631c0.68,1.623,1.272,2.828,1.798,3.596c0.504,0.767,1.184,1.447,1.995,2.017
c0.833,0.548,1.864,1.009,3.135,1.359v1.184h-29.862v-1.184c4.297-0.965,6.446-4.034,6.446-9.23c0-3.004-0.877-6.161-2.675-9.428
c-1.776-3.289-4.319-6.314-7.564-9.121c-3.267-2.806-7.126-5.087-11.576-6.841c-4.451-1.732-9.23-2.653-14.339-2.74L301.861,104.582
L301.861,104.582z M323.435,45.517l-11.971,31.572c4.999,0,9.844,0.899,14.536,2.675c4.692,1.776,8.704,4.385,12.015,7.849
L323.435,45.517L323.435,45.517z M389.955,44.706v60.249c0,3.355,0.153,6.051,0.46,8.09c0.285,2.039,1.052,3.815,2.28,5.35
c1.228,1.513,3.179,2.39,5.81,2.631v1.184h-25.63v-1.184c2.609-0.373,4.539-1.249,5.788-2.675c1.25-1.403,2.017-3.048,2.302-4.911
c0.307-1.864,0.46-4.385,0.46-7.542V52.862c0-4.824-0.483-8.551-1.469-11.248c-0.965-2.675-3.333-4.253-7.082-4.779v-1.184h33.26
v1.184c-1.491,0.373-2.236,1.206-2.236,2.499c0,1.162,0.57,2.828,1.71,4.999l15.128,27.625l14.997-24.337
c2.28-3.661,3.442-6.336,3.442-8.025c0-1.491-0.833-2.412-2.521-2.762V35.65h31.703v1.184c-2.631,0.438-4.582,1.359-5.81,2.762
c-1.228,1.425-1.995,3.048-2.28,4.911c-0.307,1.863-0.46,4.363-0.46,7.454v52.993c0,3.245,0.153,5.854,0.46,7.849
c0.285,1.995,1.052,3.749,2.28,5.284c1.206,1.535,3.157,2.499,5.81,2.938v1.184h-31.572v-1.184c2.631-0.307,4.582-1.14,5.81-2.521
s1.995-3.026,2.28-4.933c0.307-1.907,0.461-4.473,0.461-7.674V44.706L416.527,91.45L389.955,44.706L389.955,44.706z M526.108,35.651
c3.705,0,7.038,0.219,9.997,0.636c2.96,0.417,5.569,1.447,7.805,3.091c2.258,1.644,3.377,4.122,3.377,7.454
c0,2.346-0.614,4.517-1.842,6.49c-1.228,1.951-2.807,3.683-4.736,5.174s-4.188,2.916-6.753,4.297
c-2.565,1.381-4.648,2.5-6.249,3.377c4.977,1.6,9.647,3.749,13.944,6.446c4.319,2.697,7.827,6.051,10.546,10.063
c2.697,3.99,4.056,8.485,4.056,13.484c0,5.218-1.315,9.822-3.968,13.813c-2.653,3.968-6.358,6.862-11.16,8.66
c-4.21,1.6-8.595,2.587-13.199,2.982c-4.582,0.395-10.283,0.592-17.102,0.592h-33.019v-1.184c2.631-0.373,4.56-1.249,5.788-2.675
c1.206-1.403,1.973-3.048,2.28-4.933c0.285-1.886,0.46-4.385,0.504-7.52V52.862c-0.088-4.933-0.614-8.726-1.557-11.335
c-0.965-2.609-3.289-4.166-7.016-4.692v-1.184H526.108L526.108,35.651z M500.851,70.116c4.209-1.228,8.616-2.741,13.199-4.582
c4.583-1.842,8.66-4.144,12.234-6.95c3.574-2.806,5.372-5.898,5.372-9.252s-1.6-5.459-4.823-6.336s-7.148-1.315-11.752-1.315
c-7.213,0-11.511,0.877-12.914,2.631c-0.877,1.162-1.315,3.924-1.315,8.287L500.851,70.116L500.851,70.116z M500.851,105.766
c0,3.091,0.219,5.328,0.636,6.709s1.315,2.346,2.697,2.894c1.403,0.548,3.705,0.811,6.95,0.811c9.274,0,16.246-1.447,20.916-4.363
c2.85-1.886,5.109-4.407,6.753-7.564c1.644-3.157,2.456-6.468,2.456-9.91c0-5.613-2.017-10.699-6.03-15.216
c-4.034-4.538-8.857-7.981-14.492-10.327l-19.886,7.476L500.851,105.766L500.851,105.766z M588.309,104.955
c0,3.245,0.154,5.854,0.461,7.871c0.285,2.017,1.074,3.793,2.324,5.328c1.25,1.557,3.157,2.499,5.766,2.872v1.184h-31.572v-1.184
c2.631-0.329,4.582-1.184,5.81-2.609c1.228-1.403,1.995-3.069,2.28-4.933c0.307-1.885,0.46-4.429,0.46-7.586V52.862
c0-4.824-0.482-8.551-1.469-11.248c-0.965-2.675-3.333-4.253-7.082-4.779v-1.184h31.572v1.184c-2.631,0.438-4.582,1.359-5.81,2.785
c-1.228,1.425-1.995,3.069-2.28,4.933c-0.307,1.864-0.461,4.385-0.461,7.542L588.309,104.955L588.309,104.955z M647.375,105.13
c0,3.508,0.154,6.293,0.46,8.376c0.285,2.083,1.052,3.837,2.28,5.262s3.179,2.17,5.81,2.258v1.184h-31.572v-1.184
c3.793-0.109,6.161-1.381,7.125-3.859c0.943-2.455,1.425-6.227,1.425-11.269V42.491c-8.156,0-14.755,1.403-19.798,4.232
c-5.021,2.806-8.77,7.367-11.247,13.659l-1.184-0.395l6.446-26.047c0.614,0.767,1.425,1.228,2.456,1.425
c1.03,0.197,2.784,0.285,5.284,0.285h50.515c2.543,0,4.319-0.088,5.372-0.285c1.052-0.198,1.842-0.658,2.412-1.425l6.446,26.047
l-1.184,0.395c-2.456-6.292-6.205-10.853-11.247-13.659c-5.021-2.828-11.62-4.232-19.798-4.232L647.375,105.13L647.375,105.13z"/>
<g>
<path fill="none" stroke="#FFFFFF" stroke-width="1.4808" stroke-miterlimit="22.9256" d="M211.802,175.913h-3.919l-7.735-12.471
h-1.812v12.471h-3.199v-27.048h7.315c5.358,0,8.035,2.426,8.035,7.273c0,4.44-2.34,6.861-7.014,7.273L211.802,175.913
L211.802,175.913z M207.127,156.138c0-2.95-1.632-4.422-4.89-4.422h-3.9v8.985h3.9C205.495,160.701,207.127,159.18,207.127,156.138
L207.127,156.138z M229.449,175.913h-14.378v-27.048h14.378v2.888h-11.18v8.012h10.43v2.833h-10.43v10.389h11.18V175.913
L229.449,175.913z M250.098,168.357c0,2.39-0.774,4.373-2.322,5.937c-1.615,1.62-3.745,2.433-6.378,2.433
c-2.646,0-4.771-0.788-6.361-2.365c-1.572-1.54-2.359-3.578-2.359-6.116h3.372c0,3.714,1.782,5.574,5.346,5.574
c1.71,0,3.03-0.48,3.973-1.441c0.936-0.967,1.404-2.266,1.404-3.917c0-1.238-0.348-2.235-1.038-2.993
c-0.775-0.831-2.346-1.823-4.723-2.981c-2.485-1.201-4.248-2.365-5.293-3.498c-1.111-1.213-1.668-2.648-1.668-4.311
c0-1.841,0.624-3.381,1.879-4.619c1.35-1.336,3.15-2.002,5.401-2.002c2.178,0,3.973,0.579,5.377,1.731
c1.464,1.225,2.196,2.851,2.196,4.871h-3.288c0-2.463-1.404-3.695-4.212-3.695c-2.694,0-4.045,1.195-4.045,3.591
c0,1.139,0.366,2.069,1.104,2.777c0.739,0.708,2.202,1.589,4.398,2.636c2.82,1.342,4.746,2.623,5.779,3.843
C249.612,164.963,250.098,166.478,250.098,168.357L250.098,168.357z M269.45,151.79h-7.225v24.123h-3.216V151.79h-7.225v-2.925
h17.666V151.79L269.45,151.79z M291.539,175.913h-3.325l-3.228-7.507h-11.863l-3.228,7.507h-3.336l12.482-28.022L291.539,175.913
L291.539,175.913z M283.775,165.61l-4.734-10.962l-4.705,10.962H283.775L283.775,165.61z M313.244,166.965
c0,2.851-0.84,5.167-2.514,6.947c-1.746,1.878-4.111,2.814-7.099,2.814c-2.994,0-5.359-0.936-7.105-2.814
c-1.674-1.78-2.514-4.096-2.514-6.947v-18.1h3.199v18.1c0,1.94,0.534,3.529,1.602,4.767c1.159,1.349,2.766,2.02,4.818,2.02
c2.046,0,3.661-0.671,4.831-2.02c1.068-1.238,1.602-2.827,1.602-4.767v-18.1h3.18L313.244,166.965L313.244,166.965z
M335.975,175.913h-3.919l-7.735-12.471h-1.812v12.471h-3.199v-27.048h7.315c5.358,0,8.035,2.426,8.035,7.273
c0,4.44-2.34,6.861-7.014,7.273L335.975,175.913L335.975,175.913z M331.3,156.138c0-2.95-1.632-4.422-4.89-4.422h-3.9v8.985h3.9
C329.668,160.701,331.3,159.18,331.3,156.138L331.3,156.138z M365.283,175.913h-3.325l-3.228-7.507h-11.863l-3.228,7.507h-3.336
l12.482-28.022L365.283,175.913L365.283,175.913z M357.518,165.61l-4.734-10.962l-4.704,10.962H357.518L357.518,165.61z
M390.336,176.911l-19.196-20.933v19.935h-3.114v-28.022l19.215,20.896v-19.942h3.097v28.066H390.336z M411.387,151.79h-7.225
v24.123h-3.216V151.79h-7.225v-2.925h17.666V151.79L411.387,151.79z M453.955,175.913h-12.079v-27.048h3.199v24.123h8.881
L453.955,175.913L453.955,175.913z M482.603,162.383c0,4.176-1.368,7.618-4.111,10.34c-2.688,2.667-6.013,4.003-9.985,4.003
c-3.973,0-7.297-1.337-9.967-4.003c-2.73-2.722-4.098-6.165-4.098-10.34c0-4.176,1.368-7.618,4.098-10.34
c2.671-2.654,5.994-3.984,9.967-3.984c3.973,0,7.297,1.33,9.985,3.984C481.235,154.764,482.603,158.207,482.603,162.383
L482.603,162.383z M479.213,162.383c0-3.32-1.014-6.042-3.049-8.166c-2.034-2.125-4.591-3.184-7.658-3.184
c-3.06,0-5.605,1.059-7.633,3.184c-2.028,2.125-3.042,4.847-3.042,8.166c0,3.295,1.014,6.017,3.049,8.154
c2.034,2.143,4.579,3.215,7.627,3.215c3.055,0,5.605-1.072,7.645-3.215C478.193,168.4,479.213,165.677,479.213,162.383
L479.213,162.383z M506.57,166.965c0,2.851-0.84,5.167-2.514,6.947c-1.746,1.878-4.111,2.814-7.099,2.814
c-2.994,0-5.359-0.936-7.105-2.814c-1.674-1.78-2.514-4.096-2.514-6.947v-18.1h3.199v18.1c0,1.94,0.534,3.529,1.602,4.767
c1.159,1.349,2.766,2.02,4.818,2.02c2.046,0,3.661-0.671,4.831-2.02c1.068-1.238,1.602-2.827,1.602-4.767v-18.1h3.18V166.965
L506.57,166.965z M534.954,176.911l-19.196-20.933v19.935h-3.114v-28.022l19.215,20.896v-19.942h3.096L534.954,176.911
L534.954,176.911z M562.587,174.996c-2.905,1.127-5.623,1.693-8.143,1.693c-4.159,0-7.573-1.244-10.249-3.732
c-2.827-2.611-4.237-6.121-4.237-10.537c0-4.33,1.314-7.809,3.948-10.426c2.628-2.624,6.145-3.935,10.537-3.935
c2.112,0,4.825,0.683,8.143,2.057v3.59c-3.33-1.767-6.043-2.654-8.137-2.654c-3.247,0-5.887,0.967-7.915,2.907
c-2.142,2.057-3.216,4.878-3.216,8.462c0,3.344,0.96,6.036,2.88,8.08c2.004,2.131,4.753,3.196,8.245,3.196
c1.806,0,3.499-0.308,5.083-0.918v-8.357h-6.589v-3.03h9.649L562.587,174.996L562.587,174.996z M583.026,175.913h-14.378v-27.048
h14.378v2.888h-11.179v8.012h10.43v2.833h-10.43v10.389h11.179V175.913L583.026,175.913z M617.776,175.913h-3.18v-13.315h-14.192
v13.315h-3.198v-27.048h3.198v10.864h14.192v-10.864h3.18V175.913L617.776,175.913z M645.512,175.913h-3.325l-3.228-7.507h-11.863
l-3.228,7.507h-3.336l12.482-28.022L645.512,175.913L645.512,175.913z M637.747,165.61l-4.734-10.962l-4.705,10.962H637.747
L637.747,165.61z M660.436,175.913h-12.079v-27.048h3.199v24.123h8.881L660.436,175.913L660.436,175.913z M675.941,175.913h-12.079
v-27.048h3.199v24.123h8.881L675.941,175.913L675.941,175.913z"/>
<path fill="#A5204C" d="M633.027,168.406v-2.796h4.72l-4.72-10.928v-6.757l12.485,27.988h-3.325l-3.228-7.507H633.027
L633.027,168.406z M660.436,175.913h-12.079v-27.048h3.199v24.123h8.881L660.436,175.913L660.436,175.913z M675.941,175.913
h-12.079v-27.048h3.199v24.123h8.881L675.941,175.913L675.941,175.913z M633.027,147.925v6.757l-0.015-0.035l-4.705,10.962h4.72
v2.796h-5.932l-3.228,7.507h-3.336l12.482-28.022L633.027,147.925L633.027,147.925z M468.522,176.726v-2.975
c3.048-0.004,5.593-1.075,7.629-3.215c2.04-2.137,3.06-4.859,3.06-8.154c0-3.32-1.014-6.042-3.049-8.166
c-2.032-2.122-4.582-3.181-7.642-3.184v-2.974c3.966,0.003,7.285,1.333,9.97,3.984c2.743,2.722,4.111,6.165,4.111,10.34
c0,4.176-1.368,7.618-4.111,10.34C475.807,175.386,472.489,176.723,468.522,176.726L468.522,176.726z M506.57,166.965
c0,2.851-0.84,5.167-2.514,6.947c-1.746,1.878-4.111,2.814-7.099,2.814c-2.994,0-5.359-0.936-7.105-2.814
c-1.674-1.78-2.514-4.096-2.514-6.947v-18.1h3.199v18.1c0,1.94,0.534,3.529,1.602,4.767c1.159,1.349,2.766,2.02,4.818,2.02
c2.046,0,3.661-0.671,4.831-2.02c1.068-1.238,1.602-2.827,1.602-4.767v-18.1h3.18V166.965L506.57,166.965z M534.954,176.911
l-19.196-20.933v19.935h-3.114v-28.022l19.215,20.896v-19.942h3.096L534.954,176.911L534.954,176.911z M562.587,174.996
c-2.905,1.127-5.623,1.693-8.143,1.693c-4.159,0-7.573-1.244-10.249-3.732c-2.827-2.611-4.237-6.121-4.237-10.537
c0-4.33,1.314-7.809,3.948-10.426c2.628-2.624,6.145-3.935,10.537-3.935c2.112,0,4.825,0.683,8.143,2.057v3.59
c-3.33-1.767-6.043-2.654-8.137-2.654c-3.247,0-5.887,0.967-7.915,2.907c-2.142,2.057-3.216,4.878-3.216,8.462
c0,3.344,0.96,6.036,2.88,8.08c2.004,2.131,4.753,3.196,8.245,3.196c1.806,0,3.499-0.308,5.083-0.918v-8.357h-6.589v-3.03h9.649
L562.587,174.996L562.587,174.996z M583.026,175.913h-14.378v-27.048h14.378v2.888h-11.179v8.012h10.43v2.833h-10.43v10.389h11.179
V175.913L583.026,175.913z M617.776,175.913h-3.18v-13.315h-14.192v13.315h-3.198v-27.048h3.198v10.864h14.192v-10.864h3.18
V175.913z M468.522,148.058v2.974h-0.016c-3.06,0-5.605,1.059-7.633,3.184c-2.028,2.125-3.042,4.847-3.042,8.166
c0,3.295,1.014,6.017,3.049,8.154c2.034,2.143,4.579,3.215,7.627,3.215h0.016v2.975h-0.016c-3.973,0-7.297-1.337-9.967-4.003
c-2.73-2.722-4.098-6.165-4.098-10.34c0-4.176,1.368-7.618,4.098-10.34c2.671-2.654,5.994-3.984,9.967-3.984h0.015V148.058z
M352.798,168.406v-2.796h4.72l-4.72-10.928v-6.757l12.485,27.988h-3.325l-3.228-7.507H352.798L352.798,168.406z M390.336,176.911
l-19.196-20.933v19.935h-3.114v-28.022l19.215,20.896v-19.942h3.097v28.066H390.336z M411.387,151.79h-7.225v24.123h-3.216V151.79
h-7.225v-2.925h17.666V151.79L411.387,151.79z M453.955,175.913h-12.079v-27.048h3.199v24.123h8.881L453.955,175.913
L453.955,175.913z M352.798,147.925v6.757l-0.015-0.035l-4.704,10.962h4.72v2.796h-5.932l-3.228,7.507h-3.336l12.482-28.022
L352.798,147.925L352.798,147.925z M326.905,167.608v-6.919c2.928-0.15,4.395-1.667,4.395-4.551c0-2.796-1.467-4.264-4.395-4.41
v-2.861c5.172,0.084,7.756,2.509,7.756,7.271c0,4.44-2.34,6.861-7.015,7.273l8.329,12.502h-3.919L326.905,167.608z
M326.905,148.867v2.861c-0.161-0.008-0.325-0.012-0.495-0.012h-3.9v8.985h3.9c0.17,0,0.334-0.004,0.495-0.012v6.919l-2.583-4.166
h-1.812v12.471h-3.199v-27.048h7.315L326.905,148.867L326.905,148.867z M279.055,168.406v-2.796h4.72l-4.72-10.928v-6.757
l12.485,27.988h-3.325l-3.228-7.507H279.055L279.055,168.406z M313.244,166.965c0,2.851-0.84,5.167-2.514,6.947
c-1.746,1.878-4.111,2.814-7.099,2.814c-2.994,0-5.359-0.936-7.105-2.814c-1.674-1.78-2.514-4.096-2.514-6.947v-18.1h3.199v18.1
c0,1.94,0.534,3.529,1.602,4.767c1.159,1.349,2.766,2.02,4.818,2.02c2.046,0,3.661-0.671,4.831-2.02
c1.068-1.238,1.602-2.827,1.602-4.767v-18.1h3.18L313.244,166.965L313.244,166.965z M279.055,147.925v6.757l-0.015-0.035
l-4.705,10.962h4.72v2.796h-5.932l-3.228,7.507h-1.89v-3.247l11.036-24.775L279.055,147.925L279.055,147.925z M268.004,151.79
v-2.925h1.446v2.925H268.004z M211.802,175.913h-3.919l-5.152-8.306v-6.919c2.928-0.15,4.395-1.667,4.395-4.551
c0-2.796-1.467-4.264-4.395-4.41v-2.861c5.172,0.084,7.756,2.509,7.756,7.271c0,4.44-2.34,6.861-7.014,7.273L211.802,175.913
L211.802,175.913z M268.004,148.865v2.925h-5.779v24.123h-3.216V151.79h-7.225v-2.925L268.004,148.865L268.004,148.865z
M268.004,172.666v3.247h-1.446L268.004,172.666L268.004,172.666z M229.449,175.913h-14.378v-27.048h14.378v2.888h-11.18v8.012
h10.43v2.833h-10.43v10.389h11.18V175.913L229.449,175.913z M250.098,168.357c0,2.39-0.774,4.373-2.322,5.937
c-1.615,1.62-3.745,2.433-6.378,2.433c-2.646,0-4.771-0.788-6.361-2.365c-1.572-1.54-2.359-3.578-2.359-6.116h3.372
c0,3.714,1.782,5.574,5.346,5.574c1.71,0,3.03-0.48,3.973-1.441c0.936-0.967,1.404-2.266,1.404-3.917
c0-1.238-0.348-2.235-1.038-2.993c-0.775-0.831-2.346-1.823-4.723-2.981c-2.485-1.201-4.248-2.365-5.293-3.498
c-1.111-1.213-1.668-2.648-1.668-4.311c0-1.841,0.624-3.381,1.879-4.619c1.35-1.336,3.15-2.002,5.401-2.002
c2.178,0,3.973,0.579,5.377,1.731c1.464,1.225,2.196,2.851,2.196,4.871h-3.288c0-2.463-1.404-3.695-4.212-3.695
c-2.694,0-4.045,1.195-4.045,3.591c0,1.139,0.366,2.069,1.104,2.777c0.739,0.708,2.202,1.589,4.398,2.636
c2.82,1.342,4.746,2.623,5.779,3.843C249.612,164.963,250.098,166.478,250.098,168.357z M202.731,167.608l-2.584-4.166h-1.812
v12.471h-3.199v-27.048h7.315l0.279,0.002v2.861c-0.161-0.008-0.325-0.012-0.495-0.012h-3.9v8.985h3.9
c0.17,0,0.334-0.004,0.495-0.012v6.919H202.731z"/>
</g>
<path fill="#A5204C" d="M428.38,167.059c2.565,0,4.657-2.092,4.657-4.658c0-2.565-2.092-4.657-4.657-4.657s-4.658,2.092-4.658,4.657
C423.722,164.966,425.815,167.059,428.38,167.059z"/>
<g>
<path fill="#A5204C" d="M117.019,147.891c-5.198,0-9.868-0.254-13.988-0.782c-4.141-0.507-8.114-1.521-11.938-3.043
c-3.825-1.521-7.522-3.74-11.093-6.698c-3.486-2.874-6.445-6.17-8.874-9.91c-2.43-3.719-4.226-7.733-5.43-12.002
c-1.204-4.268-1.796-8.727-1.796-13.333c0-8.346,1.817-15.488,5.473-21.425c3.634-5.937,8.684-10.396,15.129-13.375
c6.466-2.979,13.798-4.479,21.996-4.479l15.488,1.394c1.69,0.338,3,0.486,3.93,0.486c2.282,0,4.142-0.972,5.557-2.895l4.437,23.433
l-1.268,0.254c-2.451-5.198-6.064-9.17-10.861-11.938c-4.818-2.768-10.184-4.141-16.143-4.141c-6.043,0-11.199,1.289-15.509,3.867
c-4.31,2.578-7.543,6.191-9.741,10.818c-2.176,4.627-3.275,9.973-3.275,15.995c0,5.304,0.845,10.459,2.514,15.467
s4.099,9.529,7.311,13.544s7.078,7.184,11.6,9.487c4.543,2.303,9.572,3.465,15.108,3.465c4.12,0,7.163-0.528,9.128-1.585
c1.986-1.057,3.233-2.578,3.761-4.564s0.782-4.86,0.782-8.579v-20.031c0-4.585-0.444-8.156-1.352-10.734s-3.127-4.163-6.635-4.712
v-1.141h28.398v1.141c-2.916,0.57-4.712,1.564-5.409,2.979c-0.697,1.416-1.057,3.803-1.057,7.142v33.723
c0,3.571,0.359,6.17,1.057,7.755c0.697,1.606,2.493,2.726,5.409,3.402v1.014L117.019,147.891L117.019,147.891z"/>
<path fill="#A5204C" d="M106.398,20.821c5.513,13.49,20.925,12.179,34.799,10.999c14.581-1.241,27.682-2.355,29.639,11.67
l0.289,2.073l-2.041,0.479c-4.847,1.138-7.402,4.441-8.373,9.445c-1.088,5.613-0.321,13.285,1.476,22.433
c1.609,8.191,3.728,16.423,5.838,24.614c1.901,7.384,3.795,14.737,5.273,21.802c8.044,38.453-16.018,46.507-39.008,54.203
c-11.249,3.765-22.222,7.438-28.22,14.705l-0.697,0.845l-1.086,1.543l-1.102-1.543l-0.697-0.845
c-5.997-7.267-16.971-10.94-28.22-14.705c-22.99-7.695-47.052-15.75-39.008-54.203c1.478-7.065,3.371-14.417,5.273-21.802
c2.109-8.191,4.229-16.423,5.838-24.614c1.797-9.148,2.564-16.82,1.476-22.433c-0.97-5.005-3.525-8.308-8.373-9.445l-2.041-0.479
l0.289-2.073c1.956-14.026,15.057-12.911,29.639-11.67c13.875,1.181,29.286,2.492,34.799-10.999l2.121-5.189L106.398,20.821
L106.398,20.821z M141.575,36.403c-14.039,1.194-29.489,2.508-37.297-9.728C96.47,38.911,81.02,37.598,66.981,36.403
c-11.434-0.973-21.788-1.852-24.283,5.815c5.49,2.014,8.473,6.297,9.657,12.408c1.215,6.269,0.425,14.497-1.476,24.176
c-1.586,8.074-3.753,16.49-5.91,24.866c-1.868,7.254-3.728,14.477-5.219,21.604c-7.21,34.465,14.873,41.857,35.972,48.92
c10.917,3.654,21.589,7.227,28.555,14.218c6.966-6.991,17.638-10.564,28.555-14.218c21.099-7.063,43.181-14.454,35.971-48.92
c-1.491-7.127-3.351-14.35-5.219-21.604c-2.157-8.375-4.324-16.792-5.91-24.866c-1.901-9.679-2.691-17.907-1.476-24.176
c1.185-6.111,4.167-10.393,9.657-12.408C163.364,34.551,153.009,35.43,141.575,36.403z"/>
</g>
<line fill="none" stroke="#A5204C" stroke-width="2" stroke-miterlimit="10" x1="195.137" y1="135.336" x2="679.605" y2="135.336"/>
</svg>
            </a>
            <a class="header-tel" href="tel:+79882928777">8(988)292-87-77</a>
            <div id="cart-button">
                <svg id="svg-source" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="shopping-cart" data-iconmelon="e-commerce icons:7c96e2dece0152dc594d66b260f79db0">
                    <path d="M22.463,25.841c0.528,0,0.918-0.429,0.918-0.958v-6.786c0-0.529-0.39-0.958-0.918-0.958c-0.529,0-0.92,0.429-0.92,0.958
                        v6.786C21.543,25.413,21.934,25.841,22.463,25.841z M18.156,25.841c0.529,0,0.919-0.429,0.919-0.958v-6.786
                        c0-0.529-0.39-0.958-0.919-0.958s-0.919,0.429-0.919,0.958v6.786C17.237,25.413,17.627,25.841,18.156,25.841z M13.851,25.841
                        c0.528,0,0.919-0.429,0.919-0.958v-6.786c0-0.529-0.391-0.958-0.919-0.958c-0.529,0-0.919,0.429-0.919,0.958v6.786
                        C12.932,25.413,13.321,25.841,13.851,25.841z M29.426,8.511h-5.327l-2.731-4.396c-0.342-0.593-0.98-0.961-1.666-0.961
                        c-0.336,0-0.668,0.089-0.959,0.258c-0.918,0.529-1.233,1.707-0.689,2.647l1.564,2.451h-7.976l1.58-2.475
                        c0.529-0.917,0.214-2.095-0.704-2.624c-0.292-0.169-0.623-0.258-0.959-0.258c-0.686,0-1.323,0.368-1.655,0.943L7.161,8.511H2.574
                        C1.155,8.511,0,9.667,0,11.086v1.47c0,1.274,0.934,2.525,2.152,2.728l1.931,11.042c0.03,1.394,1.173,2.519,2.573,2.519h18.605
                        c1.401,0,2.545-1.125,2.574-2.52l1.921-11.032C31.019,15.128,32,13.862,32,12.556v-1.47C32,9.667,30.845,8.511,29.426,8.511z
                         M26.615,26.167l-0.009,0.104c0,0.741-0.604,1.344-1.345,1.344H6.656c-0.741,0-1.344-0.603-1.344-1.344L3.407,15.327h25.096
                        L26.615,26.167z M30.77,12.556c0,0.74-0.603,1.541-1.344,1.541H2.574c-0.741,0-1.344-0.8-1.344-1.541v-1.47
                        c0-0.741,0.603-1.344,1.344-1.344h5.271l3.113-5.011c0.184-0.318,0.623-0.439,0.944-0.253c0.33,0.19,0.444,0.614,0.268,0.92
                        L9.396,9.742h12.467l-2.76-4.32c-0.189-0.33-0.076-0.753,0.253-0.944c0.323-0.186,0.756-0.074,0.955,0.27l3.104,4.994h6.011
                        c0.741,0,1.344,0.603,1.344,1.344V12.556z M9.545,25.841c0.528,0,0.918-0.429,0.918-0.958v-6.786c0-0.529-0.39-0.958-0.918-0.958
                        c-0.529,0-0.919,0.429-0.919,0.958v6.786C8.626,25.413,9.016,25.841,9.545,25.841z"></path>
                      </g>
                </svg>
                <p id="cart-sum">1747<i class="fa fa-rub"></i></p>
            </div> 
            <svg version="1.1" id="close-cart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 35.504 35" enable-background="new 0 0 35.504 35" xml:space="preserve">
                <polyline fill="none" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                1.236,33.915 17.469,17.629 1.236,1.085 "/>
                <polyline fill="none" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                33.702,1.085 17.469,17.629 33.702,33.915 "/>
            </svg>
        </div>
    </header>
    <!--/Header-->
    <!-- Боковая панель навигации -->
    <a href="#cd-nav" class="cd-nav-trigger"> 
        <span class="cd-nav-icon"></span>

        <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
            <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
        </svg>
    </a>

    <div id="cd-nav" class="cd-nav">
        <div class="cd-navigation-wrapper">
            <div class="container">
            <div class="cd-half-block">
            <h2>Меню</h2>
            <ul>    
                
            {% for me in page.menu['main'] %}
                {% for m in me['parent'] %}
                    <li>
                        <a href="/catalog/{{m.item.alias}}">{{m.item.name}}</a>
                        {% if m['parent']|length > 0 %}
                            <ul class="submenu">
                            {% for p in m['parent'] %}
                                <li><a href="/catalog/{{m.item.alias}}/{{p.item.alias}}">{{p.item.name}}</a></li>    
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li> 
                {% endfor %}   
            {% endfor %}
            
            </ul>
            </div><!-- .cd-half-block -->
            
            <div class="cd-half-block">
            <ul>
                <li><a href="/promo">Акции</a></li>
                <li><a href="/restaurant">Ресторан</a></li>
                <li><a href="/delivery">Доставка</a></li>
                <li><a href="/guest-photo">Фото гостей</a></li>
            </ul>
            <ul class="nav-contacts">
                <li>Ресторан "Гамбит"</li>
                <li>г. Махачкала, пр. Расула Гамзатова, д. 106</li>
                <li><a href="tel:+79882928777">8(988)292-87-77</a></li>
                <li><a href="mailto:gambit050@mail.ru">gambit050@mail.ru</a></li>
                <li>Режим работы: круглосуточно, без выходных</li>
            </ul>
            </div> <!-- .cd-half-block -->
        </div>
            <svg version="1.1" id="logo-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="33.676 15.632 141.206 180" enable-background="new 33.676 15.632 141.206 180" xml:space="preserve">
                <g>
    <path fill="#A5204C" d="M117.019,147.891c-5.198,0-9.868-0.254-13.988-0.782c-4.141-0.507-8.114-1.521-11.938-3.043
        c-3.825-1.521-7.522-3.74-11.093-6.698c-3.486-2.874-6.445-6.17-8.874-9.91c-2.43-3.719-4.226-7.733-5.43-12.002
        c-1.204-4.268-1.796-8.727-1.796-13.333c0-8.346,1.817-15.488,5.473-21.425c3.634-5.937,8.684-10.396,15.129-13.375
        c6.466-2.979,13.798-4.479,21.996-4.479l15.488,1.394c1.69,0.338,3,0.486,3.93,0.486c2.282,0,4.142-0.972,5.557-2.895l4.437,23.433
        l-1.268,0.254c-2.451-5.198-6.064-9.17-10.861-11.938c-4.818-2.768-10.184-4.141-16.143-4.141c-6.043,0-11.199,1.289-15.509,3.867
        c-4.31,2.578-7.543,6.191-9.741,10.818c-2.176,4.627-3.275,9.973-3.275,15.995c0,5.304,0.845,10.459,2.514,15.467
        s4.099,9.529,7.311,13.544s7.078,7.184,11.6,9.487c4.543,2.303,9.572,3.465,15.108,3.465c4.12,0,7.163-0.528,9.128-1.585
        c1.986-1.057,3.233-2.578,3.761-4.564s0.782-4.86,0.782-8.579v-20.031c0-4.585-0.444-8.156-1.352-10.734s-3.127-4.163-6.635-4.712
        v-1.141h28.398v1.141c-2.916,0.57-4.712,1.564-5.409,2.979c-0.697,1.416-1.057,3.803-1.057,7.142v33.723
        c0,3.571,0.359,6.17,1.057,7.755c0.697,1.606,2.493,2.726,5.409,3.402v1.014L117.019,147.891L117.019,147.891z"/>
    <path fill="#A5204C" d="M106.398,20.821c5.513,13.49,20.925,12.179,34.799,10.999c14.581-1.241,27.682-2.355,29.639,11.67
        l0.289,2.073l-2.041,0.479c-4.847,1.138-7.402,4.441-8.373,9.445c-1.088,5.613-0.321,13.285,1.476,22.433
        c1.609,8.191,3.728,16.423,5.838,24.614c1.901,7.384,3.795,14.737,5.273,21.802c8.044,38.453-16.018,46.507-39.008,54.203
        c-11.249,3.765-22.222,7.438-28.22,14.705l-0.697,0.845l-1.086,1.543l-1.102-1.543l-0.697-0.845
        c-5.997-7.267-16.971-10.94-28.22-14.705c-22.99-7.695-47.052-15.75-39.008-54.203c1.478-7.065,3.371-14.417,5.273-21.802
        c2.109-8.191,4.229-16.423,5.838-24.614c1.797-9.148,2.564-16.82,1.476-22.433c-0.97-5.005-3.525-8.308-8.373-9.445l-2.041-0.479
        l0.289-2.073c1.956-14.026,15.057-12.911,29.639-11.67c13.875,1.181,29.286,2.492,34.799-10.999l2.121-5.189L106.398,20.821
        L106.398,20.821z M141.575,36.403c-14.039,1.194-29.489,2.508-37.297-9.728C96.47,38.911,81.02,37.598,66.981,36.403
        c-11.434-0.973-21.788-1.852-24.283,5.815c5.49,2.014,8.473,6.297,9.657,12.408c1.215,6.269,0.425,14.497-1.476,24.176
        c-1.586,8.074-3.753,16.49-5.91,24.866c-1.868,7.254-3.728,14.477-5.219,21.604c-7.21,34.465,14.873,41.857,35.972,48.92
        c10.917,3.654,21.589,7.227,28.555,14.218c6.966-6.991,17.638-10.564,28.555-14.218c21.099-7.063,43.181-14.454,35.971-48.92
        c-1.491-7.127-3.351-14.35-5.219-21.604c-2.157-8.375-4.324-16.792-5.91-24.866c-1.901-9.679-2.691-17.907-1.476-24.176
        c1.185-6.111,4.167-10.393,9.657-12.408C163.364,34.551,153.009,35.43,141.575,36.403z"/>
                </g>
            </svg>
        </div> <!-- .cd-navigation-wrapper -->
    </div> <!-- .cd-nav -->
    <!-- /Боковая панель навигации -->
    <!-- Результаты поиска -->
    <div id="search-box">
        <div class="container">
            <div class="search-result">
                <p>Результаты поиска:</p>
                <ul>
                    <li><a class="search-item" href="item.html">Пицца Гамбит</a><button class="buy">889<i class="fa fa-rub"></i></button></li>
                    <li><a class="search-item" href="item.html">Тонкий хинкал с сушеной колбасой</a><button class="buy">889<i class="fa fa-rub"></i></button></li>
                    <li><a class="search-item" href="item.html">Курзе с мясом</a><button class="buy">889<i class="fa fa-rub"></i></button></li>
                    <li><a class="search-item" href="item.html">Пицца Гамбит</a><button class="buy">889<i class="fa fa-rub"></i></button></li>
                    <li><a class="search-item" href="item.html">Тонкий хинкал с сушеной колбасой</a><button class="buy">889<i class="fa fa-rub"></i></button></li>
                    <li><a class="search-item" href="item.html">Курзе с мясом</a><button class="buy">889<i class="fa fa-rub"></i></button></li>
                    <li><a class="search-item" href="item.html">Пицца Гамбит</a><button class="buy">889<i class="fa fa-rub"></i></button></li>
                    <li><a class="search-item" href="item.html">Тонкий хинкал с сушеной колбасой</a><button class="buy">889<i class="fa fa-rub"></i></button></li>
                    <li><a class="search-item" href="item.html">Курзе с мясом</a><button class="buy">889<i class="fa fa-rub"></i></button></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Результаты поиска -->
    <!-- Корзина -->
    <div id="cart">
        <div class="cart-wrapper">
            <div class="container">
                <div id="order">
                    <div class="row">
                    <!-- Содержимое корзины -->
                        <div class="col-sm-8">
                            <h2>Ваш заказ</h2>
                            <div class="cart-table-wrapper">
                                <table id="cart-table">
                                    {% if page.basket|length > 0 %}
                                        {% for key, bas in page.basket %}
                                            {% if key > 0 %}
                                            {%else%}
                                                {% for item in bas %} 
                                                    {%if item.product.parentGroup %}
                                                        {% if loop.index == 1 %}
                                                            <tr class="group-title" data-group-id="{{ item.product.parentGroup.id }}">
                                                                <td colspan="5">
                                                                    <h3>{{ key }}</h3>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                        <tr>
                                                            <td class="item-name" colspan="4" data-item-id="{{ item.product.id }}" >
                                                                <a data-is-gift="{{item.isGift}}" href="/catalog/{{ page.group_url[ item.product.getParentGroup.getId] }}/{{ item.product.alias }}">{{ item.product.name }}</a>
                                                            </td>
                                                            <td class="delete" data-is-discount="{{ item.discount|length > 0 ? '0' : '1' }}" data-item-id="{{ item.product.id }}" data-group-id="{{ item.product.parentGroup.id }}" rowspan="2">
                                                                <img src="/img/close2.png">
                                                            </td>
                                                        </tr>
                                                        <tr class="border" data-is-discount="0" data-basket-id='{{item.id}}' data-base-id='{{item.baseId}}' data-max-count="{{ item.maxCount }}" data-item-id="{{ item.product.id }}" data-group-id="{{ item.product.parentGroup.id }}">
                                                            <td class="minus" data-item-id="{{ item.product.id }}" data-group-id="{{ item.product.parentGroup.id }}">
                                                                <img src="/img/minus.png">
                                                            </td>
                                                            <td class="quantity">{{ item.count }}</td>
                                                            <td class="plus" data-item-id="{{ item.product.id }}" data-group-id="{{ item.product.parentGroup.id }}">
                                                                <img src="/img/plus.png">
                                                            </td>
                                                            <td class="price" data-old-price="{{item.product.price}}">
                                                            {% if item.discount|length > 0 %}
                                                                {% set price = item.product.price %}
                                                                {% for dis in item.discount %}
                                                                    {%  set price = price*(dis.percent/100) %}
                                                                {% endfor%}
                                                                    {{ price }}
                                                            {% else %}
                                                                 {{ item.product.price }}
                                                            {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% if page.basket[item.product.id] is defined  %}
                                                            {% for mod in page.basket[item.product.id] %} 
                                                                {% if mod.parent == item.id %}
                                                                    <tr class="cart-mod" data-base-id="{{mod.baseId}}" data-parent-id="{{mod.parent}}" data-prod="{{item.product.id}}" data-mod="{{mod.product.id}}">
                                                                        <td colspan="5">
                                                                            <span class="mod-name">{{ mod.product.name }}</span>
                                                                            <span class="mod-q">{{ mod.count }}</span>
                                                                            <span class="mod-price">
                                                                            {{ mod.product.price }}
                                                                            <i class="fa fa-rub"></i>
                                                                            </span>
                                                                        </td>
                                                                    </tr>            
                                                                {%endif%}
                                                            {% endfor %}
                                                        {% endif %}
                                                     {%endif%}
                                                {% endfor %}
                                            {%endif%}
                                        {% endfor %}
                                    {% endif %}  
                                </table>
                            </div>
                            <div id="cart-bottom">
                                <p>Итого: <span id="total-price">0</span></p>
                                <a id="cart-order" href="#">Заказать</a>
                            </div>
                            <!-- Рекомендованные блюда -->
                        <div class="recommend getRec" data-box='basket' data-page-id='null'>
                        </div>
                        </div>
                        <div class="item-moment-cart getProduct-go" data-sale-id='1' data-group-nuber-id="30" data-item-count="1">
                        </div>
                    </div>
                </div>
                <!--Адрес заказа-->
                <div class="checkout-page" id="checkout">
                    <div class="row">
                        <div class="col-sm-8">
                            <div id="checkout-detail">
                                <h2>Параметры доставки</h2>
                                {{ form_start(page.complete_form, {'id': 'orderForm'}) }}
                                    <div class="field">
                                        <div class="radio-wrap">
                                            <input type="radio" id="delivery-on" value="delivery-on" name="checkout-type" checked>
                                            <label for="delivery-on">
                                                Доставка
                                                <div class="disc">
                                                    <div></div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="radio-wrap">
                                            <input type="radio" id="pick-up" class="pick-up" value="pick-up" name="checkout-type">
                                            {{ form_widget(page.complete_form.isPickUp, { 'attr': {'class': 'hide'} }) }}
                                            <label for="pick-up">
                                                Самовывоз
                                                 <div class="disc">
                                                    <div></div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    {% if user != null %}
                                        {% set name = app.user.name %}
                                        {% set phone = app.user.phone%}
                                        {% set street = app.user.street %}
                                        {% set house = app.user.house %}
                                        {% set build = app.user.build %}
                                        {% set apartment = app.user.apartment %}
                                    {% else %}
                                        {% set name = '' %}
                                        {% set phone = '' %}
                                        {% set street  = '' %}
                                        {% set house  = '' %}
                                        {% set build  = '' %}
                                        {% set apartment  = '' %}
                                    {% endif %}                                    
                                    <div class="field">
                                        {{ form_label(page.complete_form.user.name, 'Имя', {'label_attr': {'for': 'co-name'}}) }}
                                         {{ form_widget(page.complete_form.user.name, { 'attr': {'id': 'co-name','size':'26','value':name} }) }}
                                    </div>
                                    <div class="field">
                                        {{ form_label(page.complete_form.user.phone, 'Телефон', {'label_attr': {'for': 'co-tel'}}) }}
                                         {{ form_widget(page.complete_form.user.phone, { 'attr': {'id': 'co-tel','size':'26','value':phone} }) }}
                                    </div>
                                    <div class="field address-field">
                                        {{ form_label(page.complete_form.user.street, 'Улица', {'label_attr': {'for': 'co-street'}}) }}
                                         {{ form_widget(page.complete_form.user.street, { 'attr': {'id': 'co-street','size':'26','value':street} }) }}
                                    </div>
                                    <div class="field address-field">
                                        {{ form_label(page.complete_form.user.house, 'Дом', {'label_attr': {'for': 'co-house'}}) }}
                                         {{ form_widget(page.complete_form.user.house, { 'attr': {'id': 'co-house','size':'4','value':house} }) }}
                                    </div>
                                    <div class="field address-field">
                                        {{ form_label(page.complete_form.user.build, 'Корпус', {'label_attr': {'for': 'co-block'}}) }}
                                         {{ form_widget(page.complete_form.user.build, { 'attr': {'id': 'co-block','size':'4','value':build} }) }}
                                    </div>
                                    <div class="field address-field">
                                        {{ form_label(page.complete_form.user.apartment, 'Квартира', {'label_attr': {'for': 'co-flat'}}) }}
                                         {{ form_widget(page.complete_form.user.apartment, { 'attr': {'id': 'co-flat','size':'4','value':apartment} }) }}
                                    </div>
                                    <div class="field">
                                        {{ form_label(page.complete_form.comment, 'Комментарии к доставке:', {'label_attr': {'for': 'co-commentt'}}) }}
                                         {{ form_widget(page.complete_form.comment, { 'attr': {'id': 'co-comment','rows':'4','cols':'26'} }) }}
                                    </div>
                                    <div class="field">
                                        <p>
                                            <a class="more-fileds">Дополнительно</a>
                                        </p>
                                    </div>
                                    <div class="field detail-field">
                                        <label for="co-persons">Количество персон</label>
                                        <input id="co-persons" type="text" size="4">
                                    </div>
                                    <div class="field detail-field">
                                        <label for="co-time">Желаемое время доставки</label>
                                        <input id="co-time" type="time" size="1">
                                    </div>   
									<div class="field agree">
                                             <label for="agree"><input type="checkbox" id="agree" checked required>Я согласен на обработку моих персональных данных в соответствии с <a href="https://docs.google.com/document/d/1uIh2CKo0Fn69yK6IuInwEL_O97QTgSB2BHziL5Xuldk/edit?usp=sharing" target="_blank">Условиями</a></label>
                                        </div>									
                                    <div class="field">
                                        <p>
                                            <input type="button" id="checkout-button" value="Подтвердить">
                                        </p>
                                    </div>
                                    {{ form_end(page.complete_form) }}
                                    <div class="clearfix"></div>                                
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="checkout-info">
                                <p>Служба доставки ресторана ГАМБИТ работает ежедневно и круглосуточно.<br><a href="/delivery">Карта доставки</a></p>
                                <p>Оплата: наличные, безналичный расчет в пункте самовывоза.<br><i class="fa fa-cc-mastercard"></i><i class="fa fa-cc-visa"></i></p>
                                <p>Подробности узнавайте по телефону <a href="tel:+79882928777">8(988)292-87-77</a></p>
                            </div>
                        </div>
                    </div><!--/Строка-->
                </div><!--/Адрес заказа-->
                <!-- Заказ оформлен-->
                <div class="checkout-send">
                <h2>Ваш заказ оформлен!</h2>
                <p>Наш оператор свяжется с Вами в ближайшее время для подтверждения заказа.<br>Спасибо, что выбрали нас!</p>
                <img class="checkout-img" src="/img/checkout.png">
            </div>
                <!-- /Заказ оформлен-->
            </div><!--/container-->
        </div><!--/cart-table-wrapper-->
    </div>
    <!--/Корзина-->    

    <main>
        {% if user is null %}
            <section class="hello">
                <div class="container">
                    <h1>
                       {% autoescape false %}
                          {{ include(template_from_string(page.data.h1)) }}
                       {% endautoescape %} 
                    </h1>
                </div>
            </section>
        {% endif %}
       {% autoescape false %}
          {{ include(template_from_string(page.data.content)) }}
       {% endautoescape %}     
    <!--Footer-->
    <!--Footer-->
    <footer>
        <div class="container">
            <div class="col-sm-3">
                <h4>Ресторан "Гамбит"</h4>
                <p>Вкусные и свежие блюда - визитная карточка ресторана, специализируется и на доставка еды. В меню предоставлен выбор 400 видов блюд европейской, дагестанской,японской кухни, шашлыки, хинкал и пицца.</p>
            </div>
            <div class="col-sm-3">
                <h4>Доставка еды</h4>
                    <p>Доставка еды круглосуточно за 55 минут в Махачкале, каждая порция готовится из свежих ингредиентов. Чтобы оформить заказ позвоните нам или воспользуйтесь сайтом.</p>
                    <a href="/delivery">Карта доставки</a>
                </div>
            <div class="col-sm-3">
                <h4>Доставка пиццы</h4>
                <p>Широкий выбор <a href="/catalog/pizza">пиццы</a> с доставкой на дом в Махачкале. Оригинальные рецепты, хрустящее тесто, быстрая подача.</p>
            </div>
            <div class="col-sm-3">
                <h4>Обратная связь</h4>
                <p>Свои предложения и отзывы Вы можете писать нам на почту <a href="mailto:Otzivi.gambit@mail.ru">Otzivi.gambit@mail.ru</a> или позвонить нам по телефону <a href="tel:+79882928777">8(988)292-87-77</a>. Нам важно знать Ваше мнение!</p>
				<a class="agree" href="https://docs.google.com/document/d/1uIh2CKo0Fn69yK6IuInwEL_O97QTgSB2BHziL5Xuldk/edit?usp=sharing" target="_blank">Условия обработки персональных данных</a>
                <div class="nuber">
                    <p>Разработка сайта</p>
                    <a href="http://nuber.ru/" target="_blank"><img src="/img/nuber.png"></a>
                </div>
            </div>
        </div>
    </footer>
    </main>
    <!--/Footer-->
    <script src="/js/nav.js"></script>
    <!-- Открытие модификаторов по клику на кнопку Купить -->
    <script type="text/javascript">
     $('.getProduct').on('click','.buy',function(e){
                $(this).parent().parent('.goods-item').addClass('active');
            }
        );
    </script>
    <!-- Открытие модификаторов по клику на кнопку меню -->
    <script type="text/javascript">
        $('.info-button').click(
            function(){
                $(this).parent('.goods-item').toggleClass('active');
            }
        );
    </script>
    <!-- Иконки панели навигации -->
    <script>
        $('#search svg').click(function(){
                $('#search').toggleClass('active');
                $('#search input').focus();
            });

        $('.more-categoryes').click(function(){
                $(this).siblings('.row').children('.col-sm-4').fadeIn();
                $(this).fadeOut();
            });
    </script>
    
    <!--Фиксированная панель навигации-->
    <script>
            $(document).ready(function(){

                var $menu = $("header");

                $(window).scroll(function(){

                       if ( $(this).scrollTop() > 400 ){

                        $menu.addClass('fixed');
                        $('body').addClass('margin');

                    } else if($(this).scrollTop() <= 400 ) {

                        $menu.removeClass('fixed');
                        $('body').removeClass('margin');
                    }

                });

            });
    </script>
    <!-- Офомление заказа -->
    <script>
    $('input:radio').click(
        function(){
            if ($(this).hasClass('pick-up')) {
                $('.address-field').slideUp(400);
            }
            else{
                $('.address-field').slideDown(400);
            }
        }
    );

    $('#cart-order').click(function(){
        $('#cart .checkout-page').slideDown();
        var scroll_height = $('#order').height() + 70;
        $('.cart-wrapper').animate({ scrollTop: scroll_height }, 500);
    });
    

    </script>

    <!--Плавный скроллинг-->
    <script>
        $(document).ready(function(){
            $('a[href^="#"], a[href^="."]').click( function(){ 
                var scroll_el = $(this).attr('href'); 
                if ($(scroll_el).length != 0) { 
                    $('html, body').animate({ scrollTop: $(scroll_el).offset().top }, 500);
                }
                return false;
            });
        });    
    </script>
    <!--/Информация о доставке-->
  
{% endblock %}